﻿<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="forgot-form">
        <mat-card class="forgot-card">
            <mat-card-header>
                <mat-card-title>Forgot Password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <mat-form-field class="width-full">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" [formControl]="emailFormControl"
                                [errorStateMatcher]="matcher">
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [disabled]="!forgotForm.valid" color="primary">Send</button>
                <a [routerLink]="['/login']" class="cancel">Cancel</a>
            </mat-card-actions>
        </mat-card>
    </form>