﻿<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <mat-form-field class="width-full">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [formControl]="emailFormControl"
                            [errorStateMatcher]="matcher">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="width-full">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" [formControl]="passwordFormControl" 
                            [errorStateMatcher]="matcher" type="password">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!loginForm.valid" color="primary">Login</button>
            <a [routerLink]="['/register']" class="register">Register</a>
            <a [routerLink]="['/forgot']" class="register">Forgot</a>
        </mat-card-actions>
    </mat-card>
</form>