﻿<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <mat-card class="register-card">
            <mat-card-header>
                <mat-card-title>Register</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <mat-form-field class="width-full">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" [formControl]="firstNameFormControl"
                                [errorStateMatcher]="matcher">
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="firstNameFormControl.hasError('required')">
                            First name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-full">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" [formControl]="lastNameFormControl"
                                [errorStateMatcher]="matcher">
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="lastNameFormControl.hasError('required')">
                            Last name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-full">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" [formControl]="emailFormControl"
                                [errorStateMatcher]="matcher">
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-full">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" [formControl]="passwordFormControl" 
                                [errorStateMatcher]="matcher" type="password">
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [disabled]="!registerForm.valid" color="primary">Register</button>
                <a [routerLink]="['/login']" class="cancel">Cancel</a>
            </mat-card-actions>
        </mat-card>
    </form>