<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <span>IGM Plus</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#/search">Search</a>
      <a mat-list-item href="#/notifications">Notifications</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>
        <a mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav" class="mat-button">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
        </a>
      </span>
      <span class="fill-remaining-space"></span>
      <span>
        <a class="mat-button" href="#/logout">
          <span class="mat-button-wrapper">Logout</span>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
        <a class="mat-button" href="#/change">
          <span class="mat-button-wrapper">Change Password</span>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </span>
        <!-- *ngIf="isHandset$ | async" -->
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
