.change-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.width-full {
    width: 99%;
    margin: 5px;
}

html, body {
    height:100%;
    width: 100%;
    margin:0;
}
body {
    display:flex;
}

.cancel
{
    float: right;
    margin-top: 10px;
}