﻿<form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
        <mat-card class="reset-card">
            <mat-card-header>
                <mat-card-title>Reset Password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="width-full">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" [formControl]="newPasswordFormControl" 
                            [errorStateMatcher]="matcher" type="password">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="newPasswordFormControl.hasError('required')">
                        New Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="width-full">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" [formControl]="confirmPasswordFormControl" 
                        [errorStateMatcher]="crossMatcher" type="password">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                        Confirm Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="resetForm.hasError('passwordMismatch')">
                        Password does not <strong>match</strong>
                    </mat-error>
                </mat-form-field>

                <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [disabled]="!resetForm.valid" color="primary">Reset</button>
                <a [routerLink]="['/']" class="cancel">Cancel</a>
            </mat-card-actions>
        </mat-card>
    </form>