<app-search-param (search)="onSearch($event)"></app-search-param>
<div class="mat-elevation-z8">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <div class="mt-10">
        <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100, 250, 1000, 5000]">
            </mat-paginator>
            
        <table style="width:100%;" mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">    
            <!-- Importer Name Column -->
            <ng-container matColumnDef="importerName">
            <th style="width:15%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Importer Name</th>
            <td mat-cell *matCellDef="let row">{{row.importerName}}</td>
            </ng-container>
        
            <!-- Consignor Name Column -->
            <ng-container matColumnDef="consignorName">
            <th style="width:14%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Consignor Name</th>
            <td mat-cell *matCellDef="let row">{{row.consignorName}}</td>
            </ng-container>
        
            <!-- Item Description Column -->
            <ng-container matColumnDef="itemDescription">
            <th style="width:18%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Item Description</th>
            <td mat-cell *matCellDef="let row">{{row.itemDescription}}</td>
            </ng-container>
        
            <!-- BL Number Column -->
            <ng-container matColumnDef="blNumber">
            <th style="width:7%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>BL Number</th>
            <td mat-cell *matCellDef="let row">{{row.blNumber}}</td>
            </ng-container>
        
            <!-- Flight Number Column -->
            <ng-container matColumnDef="flightNumber">
            <th style="width:7%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Flight Number</th>
            <td mat-cell *matCellDef="let row">{{row.flightNumber}}</td>
            </ng-container>
        
            <!-- Shed Column -->
            <ng-container matColumnDef="shed">
            <th style="width:8%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Shed</th>
            <td mat-cell *matCellDef="let row">{{row.shed}}</td>
            </ng-container>
        
            <!-- BL Date Column -->
            <ng-container matColumnDef="blDate">
            <th style="width:8%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>BL Date</th>
            <td mat-cell *matCellDef="let row">{{row.blDate | date:'dd-MMM-yyyy' }}</td>
            </ng-container>
        
            <!-- Arrival Date Column -->
            <ng-container matColumnDef="arrivalDate">
            <th style="width:8%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Arrival Date</th>
            <td mat-cell *matCellDef="let row">{{row.arrivalDate | date:'dd-MMM-yyyy' }}</td>
            </ng-container>
        
            <!-- IGM Date Column -->
            <ng-container matColumnDef="igmDate">
            <th style="width:8%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>IGM Date</th>
            <td mat-cell *matCellDef="let row">{{row.igmDate | date:'dd-MMM-yyyy' }}</td>
            </ng-container>
        
            <!-- IGM Number Column -->
            <ng-container matColumnDef="igmNumber">
            <th style="width:2%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>IGM Number</th>
            <td mat-cell *matCellDef="let row">{{row.igmNumber}}</td>
            </ng-container>

            <!-- Index Number Column -->
            <ng-container matColumnDef="indexNumber">
                <th style="width:5%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Index</th>
                <td mat-cell *matCellDef="let row">{{row.indexNumber}}</td>
            </ng-container>
            
            <!-- Detail Column -->
            <ng-container matColumnDef="detail">
            <th style="width:2%; padding:2px;" mat-header-cell *matHeaderCellDef>Detail</th>
            <td mat-cell *matCellDef="let row">
                    <button mat-raised-button
                    matTooltip="More info"
                    aria-label="More info">
              Detail
            </button>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

