﻿<form [formGroup]="singleNotificationForm" (ngSubmit)="onSubmit()" class="single-notification-form">
    <mat-card class="singleNotification-card">
        <mat-card-header>
            <mat-card-title>Single Notification</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="width-full">
                <mat-label>BL Number</mat-label>
                <input matInput placeholder="BL Number" [formControl]="blNumberFormControl"
                    [errorStateMatcher]="matcher" type="text">
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="blNumberFormControl.hasError('required')">
                    BL Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!singleNotificationForm.valid" color="primary">Send</button>
            <a [routerLink]="['/']" class="cancel">Cancel</a>
        </mat-card-actions>
    </mat-card>
</form>