<button mat-raised-button (click)="onAdd()">
    Add
</button>
<div class="mat-elevation-z8">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <div class="mt-10">
        <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100, 250, 1000, 5000]">
            </mat-paginator>
            
        <table style="width:100%;" mat-table #table [dataSource]="dataSource" matSort aria-label="Elements"> 
            
            <!-- Notification Type Column -->
            <ng-container matColumnDef="notificationType">
            <th style="width:15%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Notification Type</th>
            <td mat-cell *matCellDef="let row">{{NotificationType[row.importerName]}}</td>
            </ng-container>
            
            <!-- Importer Name Column -->
            <ng-container matColumnDef="importerName">
            <th style="width:15%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Importer Name</th>
            <td mat-cell *matCellDef="let row">{{row.importerName}}</td>
            </ng-container>
        
            <!-- Consignor Name Column -->
            <ng-container matColumnDef="consignorName">
            <th style="width:14%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Consignor Name</th>
            <td mat-cell *matCellDef="let row">{{row.consignorName}}</td>
            </ng-container>
        
            <!-- Item Description Column -->
            <ng-container matColumnDef="itemDescription">
            <th style="width:18%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Item Description</th>
            <td mat-cell *matCellDef="let row">{{row.itemDescription}}</td>
            </ng-container>
        
            <!-- BL Number Column -->
            <ng-container matColumnDef="blNumber">
            <th style="width:7%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>BL Number</th>
            <td mat-cell *matCellDef="let row">{{row.blNumber}}</td>
            </ng-container>
        
            <!-- Last Executed On Column -->
            <ng-container matColumnDef="lastExecutedOn">
            <th style="width:8%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Last Executed On</th>
            <td mat-cell *matCellDef="let row">{{row.lastExecutedOn | date:'dd-MMM-yyyy' }}</td>
            </ng-container>
        
            <!-- Last Result Count Column -->
            <ng-container matColumnDef="executionResultCount">
            <th style="width:2%; padding:2px;" mat-header-cell *matHeaderCellDef mat-sort-header>Execution Result Count</th>
            <td mat-cell *matCellDef="let row">{{row.executionResultCount}}</td>
            </ng-container>
            
            <!-- Detail Column -->
            <ng-container matColumnDef="actions">
            <th style="width:2%; padding:2px;" mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button (click)="onEdit(row.id)">
                    Edit
                </button>
                <button mat-raised-button (click)="onDelete(row.id)">
                    Delete
                </button>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

