.search-manifest-param-form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
}

.width-full {
    width: 99%;
    margin: 5px;
}

.width-half {
    width: 48%;
    margin: 5px;
}

.width-third {
    width: 32%;
    margin: 5px;
}

.width-quarter {
    width: 23.7%;
    margin: 5px;
}

.pull-left
{
    float: left;
}

.pull-right
{
    float: right;
}

.clearfix
{
    overflow: auto;
}

