<!-- - Importer Name
- Consignor Name
- Item Description
- BL Number
- BL Date
- IGM Number
- Flight Number (Vessel Name)
- Arrival Date
- Shed -->
<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search Manifest
      </mat-panel-title>
      <mat-panel-description>
        Provide atleast on field to search
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <form [formGroup]="searchParamForm" (ngSubmit)="onSubmit()" class="search-manifest-param-form">

        <mat-form-field class="form-field width-half">
            <mat-label>Importer</mat-label>
            <input type="text" placeholder="Importer" aria-label="Importer" matInput formControlName="importerName"
                [matAutocomplete]="importerAuto">
            <button *ngIf="importerNameFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(importerNameFormControl)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #importerAuto="matAutocomplete">
                <mat-option *ngFor="let option of importerNameFilteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="width-half">
            <mat-label>Consignor</mat-label>
            <input type="text" placeholder="Consignor" aria-label="Consignor" matInput formControlName="consignorName"
                [matAutocomplete]="consignorAuto">
                <button *ngIf="consignorNameFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(consignorNameFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #consignorAuto="matAutocomplete">
                <mat-option *ngFor="let option of consignorNameFilteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="width-full">
            <mat-label>Item Description</mat-label>
            <input type="text" placeholder="Item" aria-label="Item" matInput formControlName="itemDescription" [matAutocomplete]="itemAuto">
            <button *ngIf="itemDescriptionFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(itemDescriptionFormControl)">
                <mat-icon>close</mat-icon>
            </button>
        <mat-autocomplete #itemAuto="matAutocomplete">
                <mat-option *ngFor="let option of itemDescriptionFilteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="width-third">
            <mat-label>BL Number</mat-label>
            <input type="text" placeholder="BL Number" aria-label="BL Number" matInput formControlName="blNumber"
                [matAutocomplete]="blNumberAuto">
                <button *ngIf="blNumberFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(blNumberFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #blNumberAuto="matAutocomplete">
                <mat-option *ngFor="let option of blNumberFilteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="width-third">
            <mat-label>Flight Number</mat-label>
            <input type="text" placeholder="Flight Number" aria-label="Flight Number" matInput formControlName="flightNumber"
                [matAutocomplete]="flightNumberAuto">
                <button *ngIf="flightNumberFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(flightNumberFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #flightNumberAuto="matAutocomplete">
                <mat-option *ngFor="let option of flightNumberFilteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="width-third">
            <mat-label>Shed</mat-label>
            <input type="text" placeholder="Shed" aria-label="Shed" matInput formControlName="shed" [matAutocomplete]="shedAuto">
            <button *ngIf="shedFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(shedFormControl)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #shedAuto="matAutocomplete">
                <mat-option *ngFor="let option of shedFilteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="width-quarter">
            <mat-label>BL Date From</mat-label>
            <input matInput [min]="blDateFromMinDate" [max]="blDateFromMaxDate" [matDatepicker]="blDateFromPicker"
                placeholder="BL Date: From" formControlName="blDateFrom" (dateChange)="blDateFromChanged()">
                <button *ngIf="blDateFromFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(blDateFromFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-datepicker-toggle matSuffix [for]="blDateFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #blDateFromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="width-quarter">
            <mat-label>BL Date To</mat-label>
            <input matInput [min]="blDateToMinDate" [max]="blDateToMaxDate" [matDatepicker]="blDateToPicker" placeholder="BL Date: To"
                formControlName="blDateTo">
                <button *ngIf="blDateToFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(blDateToFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-datepicker-toggle matSuffix [for]="blDateToPicker"></mat-datepicker-toggle>
            <mat-datepicker #blDateToPicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field class="width-quarter">
            <mat-label>Arrival Date From</mat-label>
            <input matInput [min]="arrivalDateFromMinDate" [max]="arrivalDateFromMaxDate" [matDatepicker]="arrivalDateFromPicker"
                placeholder="Arrival Date: From" formControlName="arrivalDateFrom" (dateChange)="arrivalDateFromChanged()">
                <button *ngIf="arrivalDateFromFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(arrivalDateFromFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-datepicker-toggle matSuffix [for]="arrivalDateFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #arrivalDateFromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="width-quarter">
            <mat-label>Arrival Date To</mat-label>
            <input matInput [min]="arrivalDateToMinDate" [max]="arrivalDateToMaxDate" [matDatepicker]="arrivalDateToPicker"
                placeholder="Arrival Date: To" formControlName="arrivalDateTo">
                <button *ngIf="arrivalDateToFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(arrivalDateToFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-datepicker-toggle matSuffix [for]="arrivalDateToPicker"></mat-datepicker-toggle>
            <mat-datepicker #arrivalDateToPicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field class="width-quarter">
            <mat-label>IGM Date From</mat-label>
            <input matInput [min]="igmDateFromMinDate" [max]="igmDateFromMaxDate" [matDatepicker]="igmDateFromPicker"
                placeholder="IGM Date: From" formControlName="igmDateFrom" (dateChange)="igmDateFromChanged()">
                <button *ngIf="igmDateFromFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(igmDateFromFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-datepicker-toggle matSuffix [for]="igmDateFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #igmDateFromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="width-quarter">
            <mat-label>IGM Date To</mat-label>
            <input matInput [min]="igmDateToMinDate" [max]="igmDateToMaxDate" [matDatepicker]="igmDateToPicker"
                placeholder="IGM Date: To" formControlName="igmDateTo">
                <button *ngIf="igmDateToFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(igmDateToFormControl)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-datepicker-toggle matSuffix [for]="igmDateToPicker"></mat-datepicker-toggle>
            <mat-datepicker #igmDateToPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="width-quarter pull-right">
            <mat-label>IGM Number</mat-label>
            <input placeholder="IGM Number" aria-label="IGM Number" matInput formControlName="igmNumber">
            <button *ngIf="igmNumberFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(igmNumberFormControl)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="width-quarter pull-right">
            <mat-label>Index Number</mat-label>
            <input placeholder="Index Number" aria-label="Index Number" matInput formControlName="indexNumber">
            <button *ngIf="indexNumberFormControl.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(indexNumberFormControl)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="clearfix"></div>
        <button mat-raised-button [disabled]="!searchParamForm.valid" color="primary">Search</button>
    </form>
  </mat-expansion-panel>
